body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link-container{
    display: flex;
    flex-direction:row; 
    align-items: center;
    margin: 30px
}

.link-image{
    width: 100px;
    
}

.link-title{
    width: 100px;
    font-size: 20px;
    margin-left: 10px;
}

.footer-title{
    position: absolute;
    bottom: 0;
    left: 0; 
}

body, html {
    height: 100%;
}